 <div class="row">
    <div class="col-md-12" ng-show="subjects.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-subject/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Subject</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Subject Name&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in subjects">
                <td>{{data.subject_name}}</td>
                <td><a href="#/edit-subject/{{data.subject_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Subject</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="subjects.length == 0">
        <div class="col-md-12">
            <h4>No Subject found</h4>
        </div>
    </div>
</div>
