 <div class="row">
    <div class="col-md-12" ng-show="tags.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-tag/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Tag</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Tag Name&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in tags">
                <td>{{data.tag_name}}</td>
                <td><a href="#/edit-tag/{{data.tag_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Tag</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="tags.length == 0">
        <div class="col-md-12">
            <h4>No tags found</h4>
        </div>
    </div>
</div>
